body {
    font-family: 'Encode Sans', sans-serif;
    background-color: #E5E5E5;
}

.cabecalho {
    max-width: 1366;
    width: 100%;
    background-color: #FFFFFF;
    height: 54px;
    display: flex;
    justify-content: center;
}

.topo-do-site {
    max-width: 934px;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.isolador-de-icons {
    display: flex;
}

input {
    width: 215px;
    height: 28px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #DBDBDB;
}

input::placeholder {
    color: #979797;
    font-size: 12px;
  }

.icon {
    width: 22px;
    height: 22px;
    font-size: 24px;
    margin-left: 18px;
}

.mini-borda {
    width: 1px;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #DBDBDB;
}

.logo-insta {
    width: 103px;
    height: 29px;
}